@import "ember-cli-bootstrap-4/bootstrap";
$padding: 0px;

.container{
    width: 100%;
    margin-top: 60px;
    padding-right: $padding;
    padding-left: $padding;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.jumbotron{
    margin-bottom: 0px;
    color: inherit;
    background-color:#fff;
}
@import "ember-cli-bootstrap-4/bootstrap";
